<link href="https://fonts.googleapis.com/css?family=Montserrat:300|Ropa+Sans|Russo+One" rel="stylesheet">
<canvas id="backgroundCanvas" class="backgroundCanvas" ></canvas>

<div class="pageWrapper">

  <div class="topBar">
    <div class="name">James Clare</div>
    <div class="socialIcons"></div>
  </div>
  
  <div class="topSpacer"></div>

  <div class="centerWrapper">

    <div class="sideNav">

    </div>

    <div class="centerSpacer"></div>

    <div class="contentWrapper">
      <!--  
        <router-outlet>
        </router-outlet>
      !-->
    </div>

  <div>
</div>