<link href="https://fonts.googleapis.com/css?family=Montserrat:300|Ropa+Sans|Russo+One" rel="stylesheet">
<canvas id="backgroundCanvas" class="backgroundCanvas" ></canvas>

<div class="pageWrapper">

  <div class="topBar">
    <div class="name">James Clare</div>
    <div class="socialIconWrapper">
      <a href="https://www.instagram.com/_jamesclare/ "><img class="socialIcon" src="../assets/instaicon.png"></a>
      <a href="https://www.facebook.com/profile.php?id=100005386035591"><img class="socialIcon" src="../assets/facebookicon.png"></a>
      <a href="https://twitter.com/_JamesClare?s=03"><img class="socialIcon" src="../assets/twittericon.png"></a>
    </div>
  </div>
  
  <div class="topSpacer"></div>

  <div class="centerWrapper">

    <div id="sideNav" class="sideNav">
      <div style="padding-top:1vh"></div>
      <a class="routerLink" >About&nbsp;me</a>
      <a class="routerLink">My&nbsp;Projects</a>
      <a class="routerLink">Template&nbsp;Websites</a>
      <a class="routerLink">Custom&nbsp;Websites</a>
      <a class="routerLink">Contact&nbsp;Me</a>
    </div>

    <div class="centerSpacer"></div>

    <div class="contentWrapper">
      <!--  
        <router-outlet>
        </router-outlet>
      !-->
    </div>

  <div>
</div>